@import url('https://fonts.cdnfonts.com/css/pain-circus');






body {
  font-family: 'Pain Circus', sans-serif;  
  background-color: #000;
  color: #e0a924;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  text-align: center;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin: 15px 0;
  border-radius: 12px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: none;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #4169E1;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #06802f;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(0,0,0,0.2);
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
}